<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title></title>
</head>
<body>
    <h1></h1>
    <!--
        Como vou fazer para ter várias perguntas? eu vou criar várias páginas HTML, ou vou apenas mudar no texto?

        tenho que aplicar a filosofia do Mobile-first, e relembrar como criar várias telas para uma mesma página com "Select-query" se não me engano.
    -->
</body>
</html>