/* Precisa mesmo de documentar isso daqui?*/

*{
    margin: 0px;
    padding: 5px;
}

html{
    background-color: rgb(218, 218, 218);
}

div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div.warning > h3{
    color: red;
}

div.warning {
    width: 300px;
    background: rgb(175, 175, 175);
    color: rgb(22, 22, 22);
    padding: 20px;
    text-align: center;
}

.consulta{
    display: none;
}

#medic{
    width: 10%;
    height: 10%;
}